@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font family = Fira Sans */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    ;
}

/* style of Common Button  */
.common-button {
    background-color: rgb(0, 106, 80);
    border-radius: 7px;
    border: none;
}

/* common text color  */
.common-text {
    color: rgba(14, 14, 14, 0.8);
}

body {
    margin: 0 10%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

header li {
    list-style: none;
}

header li button {
    padding: 12px 24px;
}

.banner {
    background-color: rgb(198, 228, 214);
    border-radius: 19px;
    padding: 63px 78px;
    display: flex;
    justify-content: space-between;

}


#banner-written-sec h3 {
    font-size: 44px;
}

#banner-written-sec {
    margin-top: 4.8%;

}

#banner-written-sec>p {
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}

#Explore-Bd {
    padding: 14px 27px;
}

#cards {
    display: flex;

}

.card {
    width: 33.3%;
    margin-right: 10px;
    border-radius: 10px;

}

.card-btn-common-style {
    padding: 10px 18px;

}

.first-card {
    background-color: lightcyan;
    padding: 30px;
}

.second-card {
    background-color: lightgrey;
    padding: 30px;
}

.third-card {
    background-color: lightgoldenrodyellow;
    padding: 30px;
}

.first-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(0, 0, 255, 0.596);
}

.second-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(128, 255, 0, 0.884);
}

.third-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(137, 43, 226, 0.76);
    border-radius: 18px;
}

#dr-yunus {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 37px 19px;
    margin-top: 25px;
    border-radius: 12px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 25px;
}

#dr-yunus>h3 {
    font-size: 1.5em;
    color: rgba(14, 14, 14, 0.8);
    margin: 0 0;
}

.recent-news {
    background-color: rgba(218, 211, 211, 0.082);
}

.first-news,
.second-news {
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    border-radius: 18px;


}

.first-news img {
    border-radius: 10px;

}

.second-news img {
    border-radius: 10px;

}

.news-details h1 {
    color: rgba(14, 14, 14, 0.8);

}

#news-sections button {
    background-color: rgb(0, 106, 80);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}

#donate h1 {
    text-align: center;
    font-size: 1.7em;
}

.donate-amounts {
    display: flex;
    justify-content: space-around;
}

.donate-text {
    text-align: center;
}

.money {
    padding: 5px 36px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.096);
}

#money2 {
    background-color: rgba(127, 255, 212, 0.541);
}

#money1:hover {
    background-color: rgb(250, 226, 121);
}

#money2:hover {
    background-color: #b6d18aa1;
}

#money3:hover {
    background-color: lightgrey;
}

#money4:hover {
    background-color: rgba(176, 196, 222, 0.685);
}

.input-taka {
    margin: 0 8%;
    border-radius: 2px;
}

.input-taka input {
    width: 100%;
    text-align: center;
    padding: 10px 0px;

}

.input-taka button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    border: none;

}

#button-text {
    text-align: center;
}

footer {
    background-color: rgb(198, 228, 214);
    border-radius: 8px;
}

.suscribe-section {
    margin: 50px 15%;
}

.suscribe-section h1 {
    padding-top: 75px;
}

.footer-text {
    text-align: center;
}

.footer-text input {
    padding: 10px;
    max-width: 300px;
    font-size: 24px;
}

.promise {
    padding-bottom: 75px;
}

.suscribe-section input {
    width: 70%;
    text-align: start;
    padding: 10px 0px;
    padding-left: 30px;
    border: none;
    display: inline;
    border-radius:  10px 0 0 10px ;
}

.button-text {
    width: 20%;
    text-align: start;
    padding: 10px 0px;
    padding-left: 30px;
    border: none;
    height: 45px;
    border-radius: 0 10px 10px 0;

}

#footer-btn {
    display: flex;
    height: 45px;


}

.btn-sus {
    background-color: green;
}