@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font family = Fira Sans */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* style of Common Button  */
.common-button {
    background-color: rgb(0, 106, 80);
    border-radius: 7px;
    border: none;
}

/* common text color  */
.common-text {
    color: rgba(14, 14, 14, 0.8);
}

body {
    margin: 0 10%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

header li {
    list-style: none;
}

header li button {
    padding: 12px 24px;
}

.banner {
    background-color: rgb(198, 228, 214);
    border-radius: 19px;
    padding: 63px 78px;
    display: flex;
    justify-content: space-between;

}


#banner-written-sec h3 {
    font-size: 44px;
}

#banner-written-sec {
    margin-top: 4.8%;

}

#banner-written-sec>p {
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}

#Explore-Bd {
    padding: 14px 27px;
}

#cards {
    display: flex;

}

.card {
    width: 33.3%;
    margin-right: 10px;
    border-radius: 10px;

}

.card-btn-common-style {
    padding: 10px 18px;

}

.first-card {
    background-color: lightcyan;
    padding: 30px;
}

.second-card {
    background-color: lightgrey;
    padding: 30px;
}

.third-card {
    background-color: lightgoldenrodyellow;
    padding: 30px;
}

.first-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(0, 0, 255, 0.596);
}

.second-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(128, 255, 0, 0.884);
}

.third-card>button {
    border-radius: 7px;
    border: none;
    background-color: rgba(137, 43, 226, 0.76);
}

#dr-yunus {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 37px 19px;
    margin-top: 25px;
    border-radius: 12px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 25px;
}

#dr-yunus>h3 {
    font-size: 1.5em;
}